extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Bret Kitchell
        p Full Stack Developer

        .about-bio
          p I am a full stack developer with experience in .NET and JavaScript. My current focus is on a Node/Express/React stack, but I am flexible and adapt easily to new technologies. I consider myself a polygot and a lifelong learner, who enjoys leveraging technology to solve interesting problems.


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML/Pug
          li CSS/Sass
          li JavaScript/TypeScript
          li Git and GitHub
          li C#/ASP.NET (MVC)
          li SQL Server
          li Postgres
          li Fetch and Public APIs
          li Node/Express
          li React/Redux 
          li Mongo DB
          li Jest/Mocha
          li GraphQL
          li Docker 
          li Redis

        h6 Contact Info

        ul
          li 720-417-4734
          li brittonashford@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/britton-kitchell') LinkedIn
        a.btn-link(href='https://github.com/brittonashford') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back