extends layout.pug

block content

  article.portfolio-intro
 
    h1 My Portfolio
    p Hello, and welcome to my portfolio site. Here you will find numerous projects I have built whilst learning full stack JavaScript. My goal with this site is to demonstrate profieciency with modern JavaScript libraries/frameworks suchs as React, Express, and Node.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data.projects
        .cell
          a(href=`../projects/${project.id}`)
            img.thumbnail(src=project.image_urls[0], alt='thumbnail for ' + project.project_name + ' project')
            h5 My Site

